body {
  padding-top: 20px;
  /*background: #eee;*/
  font-size: 18px;
  line-height: 1.3;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#logo {
    margin: 20px auto 20px;
    text-align: center;
}
#logo img {
    width: 300px;
}

.container {
    background: #fff;
    padding: 0.5em;
    /*border-radius: 10px;*/
    max-width: 650px;
}

.about {
    text-align: center;
}

.form-horizontal .control-label {
    padding-top: 11px;
}

.flight-input .row + .row {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}

.res-dets {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}

.btn {
    color: #555;
    font-size: 18px;
}

.form-group {
    margin-top: 15px;
}

.errorlist {
    list-style-type: none;
    padding-left: 0px
}

input:not(:last-child) {
    margin-bottom: 20px;
}

.dl-horizontal dt {
    width: 280px;
}

.dl-horizontal dd {
    margin-left: 300px;
}