html, body {
    padding-top: 20px;
    font-size: 18px;
    line-height: 1.3;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#body-container {
   min-height:100%;
   position:relative;
}

#content {
    padding-bottom:30px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
}

#logo {
    margin: 5px auto 5px;
    text-align: center;
}

#logo img {
    width: 300px;
}

.container {
    background: #fff;
    padding: 0.5em;
    /*border-radius: 10px;*/
    max-width: 650px;
}

.about {
    padding: 10px;
    text-align: center;
}

.form-horizontal .control-label {
    padding-top: 11px;
}

.flight-input .row + .row {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}

.res-dets {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}

.btn {
    color: #555;
    font-size: 18px;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.errorlist {
    list-style-type: none;
    padding-left: 0px
}

input:not(:last-child) {
    margin-bottom: 20px;
}

.dl-horizontal dt {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.dl-horizontal dd {
    padding-left: 15px;
}

.help-block {
    margin-bottom: 0px;
    color: #737373;
}

@media (min-width: 768px) {
    .email-div {
        margin-left: -15px;
    }
}

.nav-link {
    text-align: center
}