{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Create SWACI{% endblock %}

{% block styleblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/libs/datepicker.css' %}"/>
{% endblock %}


{% block content %}

<div class="container flight-input">

    <div class="row">
        <div class="col-lg-12">
            <form id="res_form" action="{% if passenger %}{% url 'reservation' passenger.uuid %}{% else %}#{% endif %}"
                  method="post" class="form-horizontal">
                {% csrf_token %}
                {% if reservation_form.non_field_errors %}
                <div class="text-danger col-sm-7 col-sm-offset-5">{{ reservation_form.non_field_errors }}</div>
                {% endif %}
                {% for field in reservation_form %}

                {% if 'return_flight_date' in field.name %}
                <!--<div class="form-group" style="margin-top: -15px; margin-bottom: 15px">-->
                    <!--<label class="control-label col-sm-7 col-sm-offset-5" style="text-align: left">-->
                        <!--<input type="checkbox" id="round-trip-check"> Round Trip-->
                    <!--</label>-->
                <!--</div>-->
                {% endif %}
                <div class="form-group{% if 'return' in field.name %} return{% endif %}">

                    <label class="control-label col-sm-5" for="{{ field.name }}">{{ field.label }}</label>

                    <div class="col-sm-7 {% if field.errors %}has-error{% endif %}" readonly="{% if field.value %}true{% else %}false{% endif %}" >{{ field }}</div>

                    {% if field.help_text %}
{#                    <div class="help-block col-sm-7 col-sm-offset-5">{{ field.help_text }}</div>#}
                    {% endif %}

                    {% if field.errors %}
                    <div class="text-danger col-sm-7 col-sm-offset-5">{{ field.errors }}</div>
                    {% endif %}

                </div>
                {% endfor %}

            </form>
        </div>
        <div class="col-lg-offset-5 col-lg-7">
            <input type="submit" value="Create Auto Check-In" form="res_form"
                   class="btn input-lg btn-default btn-block"/>
        </div>
    </div>


</div>

{% endblock %}

{% block jsblock %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/libs/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<script src="{% static 'js/create-reservation.js' %}" type="text/javascript"></script>

<script>
/*
    var returnCheck = $('#round-trip-check');
    var returnDiv = $(".return");
    returnCheck.change(function() {
        returnDiv.toggle()
    });
    returnCheck.attr('checked', false);
    returnDiv.hide();
    */
</script>

{% endblock %}
