{% extends "base.html" %}

{% block title %}SWACI{% endblock %}

{% block styleblock %}

{% endblock %}


{% block content %}

<div class="container">
    <div class="row about">
        <p class="col-md-10 col-md-offset-1">
            Southwest Auto Check-In will automatically check you in 24 hours before your Southwest flight.
        </p>
    </div>
    <div class="row">
        <form id="email_form" action="{% url 'email' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-1" style="padding-right: 0px;">{{ email_form.email }}</div>
                <div class="col-sm-2"><input type="submit" value="Continue" form="email_form"
                                             class="input-lg btn btn-default"/></div>

            </div>

        </form>
    </div>
</div>

{% endblock %}

{% block jsblock %}

{% endblock %}
